footer{


    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: rgb(59, 53, 53);
    margin-top: -6px;
    font-family: 'Paytone One', sans-serif;
    font-size: 17.9px;

    border-style:solid ;
    border-width: 3px;
    border-color: gray;

    border-left: none;
    border-right: none;
    
    

}


.vacio{

    background-color: rgb(48, 52, 66);
    box-shadow: inset -10px -10px 20px 0 black;
    height: 50px;
    
}

.teams{

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 80px;
    border-style:solid ;
    border-left: none;
    border-width: 2px;
    border-color: gray;

    border-bottom: none;
    border-top: none;

    text-align: center;
}

.education{

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-style:solid ;
    border-width: 2px;
    border-color: gray;

    border-bottom: none;
    border-top: none;
}


.privacy{

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    border-style:solid ;
    border-width: 2px;
    border-color: gray;

    border-bottom: none;
    border-top: none;
}

.writing{

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 30px;
    border-style:solid ;
    border-right: none;
    border-width: 2px;
    border-color: gray;

    border-bottom: none;
    border-top: none;
}
